#acender{
    background: #FFC90C;
    color: rgb(0, 0, 0);
    border:solid 4px black;
    width: 80px;
    height: 40px;
}
#apagar{
    background:black;
    color: white;
    border: solid 4px #FFC90C;
    width: 80px;
    height: 40px;
}
#reset{
    background: red;
    width: 70px;
    height: 35px;
}
#acender, #apagar, #reset{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    font-size:18px;
    
}